/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

:root {
  --ifm-color-primary: #0240dc;
  --ifm-color-primary-dark: #033ed5;
  --ifm-color-secondary: #868686;
  --ifm-color-secondary-dark: #5f5f5f;
  --ifm-color-warning-contrast-background: #ffe39c;

  --ifm-code-font-size: 95%;

  --ifm-font-family-monospace: "JetBrains Mono", "SFMono-Regular", "Menlo", "Consolas",
  "Liberation Mono", monospace;

  --default-config-node-text-color: rgb(148, 148, 148);
  --config-node-highlight-text-color: black;
}

html[data-theme="dark"] {
  --ifm-color-primary: #409efe;
  --ifm-color-primary-dark: #0175ec;
  --ifm-color-secondary: #ebedf0;
  --ifm-color-secondary-dark: #b9b4b4;

  --ifm-menu-color: #dadada !important;
  --ifm-toc-link-color: #32a852 !important;
  --ifm-background-color: #151515;
  --ifm-heading-color: #ededed;

  /* Config Node */
  --default-config-node-text-color: rgb(128, 128, 128);
  --config-node-highlight-text-color: white;
}